.bg-image {
    background-image: url('../img/slider-image3.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121212;
}

.bg-image-2 {
    background-image: url('../img/slider-image2.jpg');
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121212;
} 

.bg-image-3 {
    background-image: url('../img/slider-image1.jpg');
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #121212;
} 

.bg-img-footer {
    background-image: url("../img/testimonial-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-color: #000000; 
}

.bg-img-footer-2 {
    background-image: url("../img/footer-open-hour-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000; 
}

.bg-img-footer-3 {
    background-image: url("../img/footer-open-hour-bg\ \(2\).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-color: #000000; 
}

.bg-shadow {
    background-color: rgba(0, 0, 0, .4); 
}

a.hover-1 {
    position: relative;
    color: white!important;
}

a.hover-1:hover {
    color: red!important;
}

a.hover-1:hover::before {
    content: '';
    position: absolute;
    animation: hover-1 5s infinite;
    top: 35px;
    width: 70px;
    height: 2px;
    background-color: red!important;
    transition: .5s all;
}

@keyframes hover-1 {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 105px;
        height: 2px;
    }
    75% {
        width: 0;
        height: 0;
    }
    100% {
        width: 0;
        height: 0;
    }

}

/* .bg-shadow {
    background-color: rgba(31, 0, 31, 0.5);
} */

/* .bg-gradient {
    background-image: radial-gradient(circle, #eeeeee, #ebebeb, #e8e8e8, #e6e6e6, #e3e3e3, #dfdfdf, #dbdbdb, #d7d7d7, #d0d0d0, #cacaca, #c3c3c3, #bdbdbd);
} */